<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Корзина</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.js}">
    <script src="https://unpkg.com/imask"></script>
</head>
<body>
<div th:insert="headers/ClientHeader"></div>
<div class="container">
    <form th:action="@{/buyAll}">
        <input type="submit" class="btn btn-outline-primary" th:if="${cartsCount>0}" value="Купить все" style="margin-bottom:0.5em"/>
    </form>
    <h1>Корзина</h1>
    <div class="row">
        <div class="col-3 mb-3" th:each="cart: ${carts}">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top rounded" height="200px" width="200px" alt="" th:if="${cart.product.image!=null}" th:src="'/image/' + ${cart.product.image.idImage}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${cart.product.name}"></h5>
                    <p class="card-text" th:text="${cart.product.category.name}"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="'Цвет: ' + ${cart.product.color.name}"/>
                    <li class="list-group-item" th:text="'Цена: ' + ${cart.product.price}"/>
                    <li class="list-group-item" th:text="'Итоговая цена: ' + ${cart.product.price*cart.count}"/>
                </ul>
                <div class="card-body">
                    <div class="btn-group">
                        <form th:action="@{/buy}" method="post">
                            <input value="Купить" type="submit" class="btn btn-outline-primary">
                            <input type="hidden" th:value="${cart.idCart}" name="cart">
                        </form>
                        <form th:action="@{/cart/delete}" method="post">
                            <input value="Удалить из корзины" type="submit" class="btn btn-outline-danger">
                            <input type="hidden" th:value="${cart.idCart}" name="cart">
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <form th:action="@{/cart/edit}" method="post">
                        <input placeholder="Количество" type="number" class="form-control" data-mask="count" th:value="${cart.count}" onsubmit="this.form.submit()"
                               name="count">
                        <input type="hidden" th:value="${cart.idCart}" name="cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const mask = (dataValue, options) => {
            const elements = document.querySelectorAll(`[data-mask="${dataValue}"]`)
            if (!elements) return

            elements.forEach(el => {
                IMask(el, options)
            })
        }
        mask('count', {
            mask: '0'
        })
    })
</script>
</html>